<div class="page-wrapper" [class.toggled]="isMobileMenuOpen">

  <div class="backdrop d-lg-none" *ngIf="isMobileMenuOpen" (click)="toggleMobileMenu()"></div>

  <aside class="menu-sidebar">
    <div class="logo">
      <a routerLink="/products" (click)="closeMobileMenu()">
        <img src="assets/images/logo.png" alt="luv2shop" class="img-responsive">
      </a>
      <span class="close-btn d-lg-none" (click)="toggleMobileMenu()">&times;</span>
    </div>

    <div (click)="closeMobileMenu()">
      <app-product-category-menu></app-product-category-menu>
    </div>
  </aside>
  <div class="page-container">
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap d-flex align-items-center justify-content-between">
            
            <button class="hamburger-btn d-lg-none mr-3" (click)="toggleMobileMenu()">
              <i class="fas fa-bars"></i> &#9776; </button>
<div class="header-icons d-flex align-items-center ml-3">
            <app-search class="flex-grow-1"></app-search>
</div>
            <div class="header-icons d-flex align-items-center ml-3">
              <app-login-status></app-login-status>
              <app-cart-status class="ml-2"></app-cart-status>
            </div>

          </div>
        </div>
      </div>
    </header>
    <div class="main-content-area">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>

<footer>
  <ul>
   <li><a routerLink="/info/about">About Us</a></li>
    <li><a routerLink="/info/contact">Contact Us</a></li>
    <li><a routerLink="/info/help">Help</a></li>
  </ul>
</footer>