<div class="cart-area">
    <a routerLink="/wishlist" 
       class="btn btn-info btn-sm text-white me-2"
       [title]="'header.wishlist' | translate">
        <span class="badge badge-light">{{ wishlistCount }}</span>
        <i>
            <fa-icon [icon]="faHeart" aria-hidden="true" style="color: #e74c3c;"></fa-icon>
        </i>
    </a>
    
    <a routerLink="/cart-details" 
       class="btn btn-info btn-sm text-white"
       [title]="'header.cart' | translate">
        <span class="ml-1 font-weight-bold d-none d-md-inline">{{ totalPrice | number:'1.2-2' }} Lei</span>
        <span class="badge badge-light ml-1">{{ totalQuantity }}</span>
         <i>
            <fa-icon [icon]="faCartShopping" aria-hidden="true" style="color: orangered;"></fa-icon>
         </i>
       
    </a>
</div>
