<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <div formGroupName="customer" class="form-area">
                    <h3>Date Client</h3>
                    <div class="row">
                        <div class="col-md-2"><label>Prenume</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                                <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="firstName?.errors?.['required'] || firstName?.errors?.['notOnlyWhitespace']">
                                        Prenumele este obligatoriu
                                    </div>
                                    <div *ngIf="firstName?.errors?.['minlength']">
                                        Prenumele trebuie să aibă minim 2 caractere
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Nume</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                                <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="lastName?.errors?.['required'] || lastName?.errors?.['notOnlyWhitespace']">
                                        Numele este obligatoriu
                                    </div>
                                    <div *ngIf="lastName?.errors?.['minlength']">
                                        Numele trebuie să aibă minim 2 caractere
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Email</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="email?.errors?.['required']">
                                        Email-ul este obligatoriu
                                    </div>
                                    <div *ngIf="email?.errors?.['pattern']">
                                        Email-ul trebuie să aibă un format valid
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- shipping Address-->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Adresă Livrare</h3>
                    <div class="row">
                        <div class="col-md-2"><label>Țară</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('shippingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{ country.name}}
                                    </option>
                                </select>
                                <div *ngIf="shippingAddressCountry?.invalid && (shippingAddressCountry?.dirty || shippingAddressCountry?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAddressCountry?.errors?.['required']">
                                        Țara este obligatorie
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Stradă</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div *ngIf="shippingAddressStreet?.invalid && (shippingAddressStreet?.dirty || shippingAddressStreet?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="shippingAddressStreet?.errors?.['required'] || shippingAddressStreet?.errors?.['notOnlyWhitespace']">
                                        Strada este obligatorie
                                    </div>
                                    <div *ngIf="shippingAddressStreet?.errors?.['minlength']">
                                        Strada trebuie să aibă minim 2 caractere
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Oraș</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div *ngIf="shippingAddressCity?.invalid && (shippingAddressCity?.dirty || shippingAddressCity?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="shippingAddressCity?.errors?.['required'] || shippingAddressCity?.errors?.['notOnlyWhitespace']">
                                        Orașul este obligatoriu
                                    </div>
                                    <div *ngIf="shippingAddressCity?.errors?.['minlength']">
                                        Orașul trebuie să aibă minim 2 caractere
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Județ</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                                        {{state.name}}
                                    </option>
                                </select>
                                <div *ngIf="shippingAddressState?.invalid && (shippingAddressState?.dirty || shippingAddressState?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAddressState?.errors?.['required']">
                                        Județul este obligatoriu
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Cod Poștal</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div *ngIf="shippingAddressZipCode?.invalid && (shippingAddressZipCode?.dirty || shippingAddressZipCode?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="shippingAddressZipCode?.errors?.['required'] || shippingAddressZipCode?.errors?.['notOnlyWhitespace']">
                                        Codul poștal este obligatoriu
                                    </div>
                                    <div *ngIf="shippingAddressZipCode?.errors?.['minlength']">
                                        Codul poștal trebuie să aibă minim 2 caractere
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add check box to copy shipping to billing -->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"></span>Adresa de facturare este aceiași cu adresa de livrare
                    </label>
                </div>
                <!-- Billing Address-->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Adresă Facturare</h3>
                    <div class="row">
                        <div class="col-md-2"><label>Țară</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('billingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{ country.name}}
                                    </option>
                                </select>
                                <div *ngIf="billingAddressCountry?.invalid && (billingAddressCountry?.dirty || billingAddressCountry?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="billingAddressCountry?.errors?.['required']">
                                        Țara este obligatorie
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Stradă</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div *ngIf="billingAddressStreet?.invalid && (billingAddressStreet?.dirty || billingAddressStreet?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="billingAddressStreet?.errors?.['required'] || billingAddressStreet?.errors?.['notOnlyWhitespace']">
                                        Strada este obligatorie
                                    </div>
                                    <div *ngIf="billingAddressStreet?.errors?.['minlength']">
                                        Strada trebuie să aibă minim 2 caractere
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Oraș</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div *ngIf="billingAddressCity?.invalid && (billingAddressCity?.dirty || billingAddressCity?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="billingAddressCity?.errors?.['required'] || billingAddressCity?.errors?.['notOnlyWhitespace']">
                                        Orașul este obligatoriu
                                    </div>
                                    <div *ngIf="billingAddressCity?.errors?.['minlength']">
                                        Orașul trebuie să aibă minim 2 caractere
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Județ</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                                        {{state.name}}
                                    </option>
                                </select>
                                <div *ngIf="billingAddressState?.invalid && (billingAddressState?.dirty || billingAddressState?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="billingAddressState?.errors?.['required']">
                                        Județul este obligatoriu
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Cod Poștal</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div *ngIf="billingAddressZipCode?.invalid && (billingAddressZipCode?.dirty || billingAddressZipCode?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="billingAddressZipCode?.errors?.['required'] || billingAddressZipCode?.errors?.['notOnlyWhitespace']">
                                        Codul poștal este obligatoriu
                                    </div>
                                    <div *ngIf="billingAddressZipCode?.errors?.['minlength']">
                                        Codul poștal trebuie să aibă minim 2 caractere
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="handlePaymentMethodChange($event)">
                        <span class="au-checkmark"></span>Plata la livrare (Numerar / Cash)
                    </label>
                </div>

                <!-- Shipping Method Selection -->
                <div class="form-area" *ngIf="shippingMethods.length > 0">
                    <h3>Metodă de Livrare</h3>
                    <div class="shipping-methods">
                        <div *ngFor="let method of shippingMethods" class="shipping-method-option">
                            <label class="shipping-method-label">
                                <input 
                                    type="radio" 
                                    name="shippingMethod" 
                                    [value]="method.id"
                                    [checked]="selectedShippingMethod?.id === method.id"
                                    (change)="onShippingMethodChange(method)">
                                <span class="shipping-method-info">
                                    <strong>{{ method.name }}</strong> - {{ method.deliveryDays }}
                                    <br>
                                    <small>{{ method.description }}</small>
                                    <br>
                                    <span class="shipping-cost">
                                        <span *ngIf="method.freeShippingThreshold && totalPrice >= method.freeShippingThreshold" class="text-success">
                                            <strong>GRATUIT</strong>
                                        </span>
                                        <span *ngIf="!method.freeShippingThreshold || totalPrice < method.freeShippingThreshold">
                                            {{ method.basePrice | number:'1.2-2' }} Lei
                                        </span>
                                        <small *ngIf="method.freeShippingThreshold && totalPrice < method.freeShippingThreshold" class="text-muted">
                                            (Livrare gratuită pentru comenzi peste {{ method.freeShippingThreshold | number:'1.2-2' }} Lei)
                                        </small>
                                    </span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Credit Card -->
                <div *ngIf="!isCashOnDelivery" formGroupName="creditCard" class="form-area">
                    <h3>Card de Credit</h3>
                    <div class="row">
                        <div class="col-md-2"><label>Tip Card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option>Visa</option>
                                    <option>Mastercard</option>
                                </select>
                                <div *ngIf="creditCardType?.invalid && (creditCardType?.dirty || creditCardType?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="creditCardType?.errors?.['required']">
                                        Tipul cardului este obligatoriu
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Nume pe Card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">
                                <div *ngIf="creditCardNameOnCard?.invalid && (creditCardNameOnCard?.dirty || creditCardNameOnCard?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="creditCardNameOnCard?.errors?.['required'] || creditCardNameOnCard?.errors?.['notOnlyWhitespace']">
                                        Numele este obligatoriu
                                    </div>
                                    <div *ngIf="creditCardNameOnCard?.errors?.['minlength']">
                                        Numele trebuie să aibă minim 2 caractere
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Număr Card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">
                                <div *ngIf="creditCardNumber?.invalid && (creditCardNumber?.dirty || creditCardNumber?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="creditCardNumber?.errors?.['required'] || creditCardNumber?.errors?.['notOnlyWhitespace']">
                                        Numărul cardului este obligatoriu și nu poate conține doar spații albe.
                                    </div>
                                    <div *ngIf="creditCardNumber?.errors?.['minlength']">
                                        Numărul cardului trebuie să aibă cel puțin 2 caractere.
                                    </div>
                                    <div *ngIf="creditCardNumber?.errors?.['luhn']">
                                        Numărul cardului este invalid.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Cod Securitate</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text">
                                <div *ngIf="creditCardSecurityCode?.invalid && (creditCardSecurityCode?.dirty || billingAddressZipCode?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="creditCardSecurityCode?.errors?.['required']">
                                        Codul de securitate este obligatoriu
                                    </div>
                                    <div *ngIf="creditCardSecurityCode?.errors?.['pattern']">
                                        Codul de securitate trebuie să aibă 3 cifre
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Luna Expirării</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option *ngFor="let month of creditCardMonths">
                                        {{ month }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Anul Expirării</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                                    <option *ngFor="let year of creditCardYears">
                                        {{year}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Promo Code Section -->
                <div class="form-area promo-code-section">
                    <h3><i class="fas fa-tags"></i> Cod Promoțional</h3>
                    <div class="promo-code-input-wrapper">
                        <div class="input-group">
                            <input type="text" 
                                   [(ngModel)]="promoCode" 
                                   [ngModelOptions]="{standalone: true}"
                                   placeholder="Introdu codul promoțional" 
                                   [disabled]="appliedPromoCode"
                                   class="form-control promo-input"
                                   (keyup.enter)="applyPromoCode()">
                            <button *ngIf="!appliedPromoCode" 
                                    (click)="applyPromoCode()" 
                                    [disabled]="isApplyingPromoCode || !promoCode"
                                    class="btn btn-apply">
                                <i class="fas fa-check-circle"></i>
                                {{ isApplyingPromoCode ? 'Se verifică...' : 'Aplică' }}
                            </button>
                            <button *ngIf="appliedPromoCode" 
                                    (click)="removePromoCode()" 
                                    class="btn btn-remove">
                                <i class="fas fa-times-circle"></i>
                                Elimină
                            </button>
                        </div>
                    </div>
                    <div *ngIf="promoCodeMessage" 
                         class="promo-message"
                         [class.success-message]="appliedPromoCode"
                         [class.error-message]="!appliedPromoCode && promoCodeMessage">
                        {{ promoCodeMessage }}
                    </div>
                </div>
                
                <!-- Order details-->
                <div class="form-area">
                    <h3>Verificare Comandă</h3>
                    <p>Cantitate Totală: {{totalQuantity}}</p>
                    <p>Subtotal: {{totalPrice | number:'1.2-2'}} Lei</p>
                    <p>Livrare: 
                        <span *ngIf="shippingCost === 0" class="text-success"><strong>GRATUIT</strong></span>
                        <span *ngIf="shippingCost > 0">{{shippingCost | number:'1.2-2'}} Lei</span>
                    </p>
                    <p *ngIf="discount > 0" class="discount-line">
                        <i class="fas fa-tag"></i> 
                        Reducere ({{appliedPromoCode}}): 
                        <span class="discount-amount">-{{discount | number:'1.2-2'}} Lei</span>
                    </p>
                    <hr>
                    <p><strong>Preț Total: {{getFinalTotal() | number:'1.2-2'}} Lei</strong></p>
                </div>
                <!-- submit button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Finalizează Comanda</button>
                </div>
            </form>
        </div>
    </div>
</div>